<!DOCTYPE html>
<html>
<head>
    <title>
        Galerie Photo
    </title>
    <%# Bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./stylesheets/index_style.css" rel="stylesheet">
    <link href="./stylesheets/img_grid_style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body id='body'>
    <nav id='nav'>
        <h1 class="titleGeneral">Gallery</h1>
        <a class="enterlogin" href="/connexion/login">Login</a>
    </nav>
    <div id="g_container" >
        <%# Affichage des images %>
        <div class="img_tab_container">
            <div class="grille">
                <% if(locals.tb_img) {tb_img.forEach(element => { %>
                <div class="img_container">
                    <div class="img_link">
                        <img class="img-fluid" src="<%= element.img_url %>" alt="<%= element.title %>">
                    </div>
                </div>
                <% })} %>
            </div>
        </div>
    </div>

    
</body>
    <%# THEME SHIFTER SCRIPT %> 
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</html>